.applyWrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
}

.applyContainer {
    width: 90%;
    max-width: 1059px;
    height: 80%;
    max-height: 960px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#apply2 .applyContainer{
	max-height: 740px;
}
#apply3 .applyContainer{
	max-height: 736px;
}
#apply4 .applyContainer{
	max-height: 417px;
}
  
@media all and (max-width : 768px){
    .applyContainer {
        height: 70%;
    }
}

.appTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 40px;
    background-color: #000;
    border-radius: 20px 20px 0 0;
}
.appTop p {
    color: var(--wh, #FFF);
    font-family: var(--fn-suit);
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1px;
}

@media all and (max-width : 768px){
    .appTop {
        height: auto;
        padding: 10px 20px;
    }
    .appTop p {
        width: 225px;
        font-size: 16px;
        line-height: 140%;
    }

}

.appBottom {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
	height: 100%;
	overflow-y: auto;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    padding: 16px 40px;
    overflow:overlay;
}
.appBottom::-webkit-scrollbar {
    width: 12px; /* 전체 스크롤바 너비 */
}

.appBottom::-webkit-scrollbar-track {
    background: transparent; /* 트랙을 투명하게 설정 */
}

.appBottom::-webkit-scrollbar-thumb {
    background-color: #000; /* 스크롤바 색상 */
    border-radius: 6px; /* 확실한 둥근 모서리 */
    border: 4px solid transparent; /* 투명한 테두리로 여백 생성 */
    background-clip: content-box; /* 배경을 content-box에만 적용 */
}

.appBottom::-webkit-scrollbar-button {
    display: none; /* 스크롤바 버튼 숨김 */
}
.appTitle{
    color: var(--bk, #000);
    font-family: var(--fn-suit);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 18px */
    letter-spacing: -0.9px;
}

@media all and (max-width : 768px){
    .appBottom {
        row-gap: 20px;
        padding: 16px 20px;
    }
    .appTitle{
        font-size: 16px;
    }

}

.applyButton{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    width: 100%;
    padding: 12px 0 20px 0;
}
.applyButton a{
    display: flex;
    width: 206px;
    height: 56px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--grey-grey-100, #DBDEE2);
    background: var(--wh, #FFF);
    font-family: var(--fn-suit);
    font-size: 14px;
    font-weight: 500;
    line-height: 170%; /* 23.8px */
    letter-spacing: -0.7px;
}
.applyButton a.nextButton{
    color: var(--grey-500);
    pointer-events: none;
}
.applyButton a.nextButton.active{
    color: #fff;
    background-color: #1754D5;
    pointer-events: all;
}

.birthInput{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.birthInput span{
    font-size: 18px;
}
.birthInput input{
    width: 142px;
    font-size: 18px;
}
.birthInput label{
    display: block;
    position: relative;
}
.birthInput label::after{
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    content: "●●●●●●";
    display: inline-block;
    color: var(--grey-grey-500, #8B96A2);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
}

@media all and (max-width : 768px){
    .birthInput input {
        width: 110px;
        font-size: 16px;
    }
    .birthInput label::after{
        right: 4px;
        font-size: 14px;
    }
}

.parentsContainer{
    display: none;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid var(--grey-100);
    background: var(--grey-50);
}
.parentsContainer input{
    background-color: transparent;
}
.etcInput{
    width: calc(100% - 205px) !important;
    padding: 10px 12px !important;
}

@media all and (max-width : 768px){
    .etcInput{
        width: 150px !important;
        padding: 10px 12px !important;
    }
}

.addContainer{
    display: flex;
    align-items: flex-end;
    width: 100%;
    column-gap: 12px;
}
.addContainer .inputBox{
    width: calc(100% - 101px) !important;
}
.addContainer a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 34px;
    margin-bottom: 20px;
    border: 1px solid #E2E8F0;
    color: var(--grey-600);
    font-size: 14px;
    font-weight: 500;
    line-height: 100%; /* 14px */
}

@media all and (max-width : 768px){
    .addContainer{
        display: flex;
        align-items: flex-end;
        width: 100%;
        column-gap: 4px;
    }
    .addContainer .inputBox{
        width: calc(100% - 70px) !important;
    }
    .addContainer a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 34px;
        margin-bottom: 20px;
        border: 1px solid #E2E8F0;
        color: var(--grey-600);
        font-size: 14px;
        font-weight: 500;
        line-height: 100%; /* 14px */
    }
}

.inputSubCaption.youth{
    display: none;
}
.inputSubCaption.youth.active{
    display: block;
}
.parentsContainer.active{
    display: flex;
}

.inputCaption.tooltips{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.inputCaption.tooltips span{
    display: block;
    width: 20px;
    margin-top: 2px;
    cursor: pointer;
}
.inputCaption.tooltips span img{
    width: 100%;
}
.sizePopup{
    display: none;
    position: absolute;
    left: 118px;
    bottom: 11px;
    border: 1px solid var(--grey-100);
    box-shadow: 0px 4px 16.6px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
}
.sizePopup ul li{
    display: grid;
    grid-template-columns: repeat(7, 78px);
    border-top: 1px solid var(--grey-100);
}
.sizePopup ul li:first-of-type{
    border-top: none;
    background: var(--grey-blue-50, #F3F5F6);
}
.sizePopup ul li p{
    padding: 10px 0;
    color: var(--bk, #000);
    font-size: 14px;
    font-weight: 700;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
    text-align: center;
}


.filebox{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.filebox .upload-name {
    width: calc(100% - 101px) !important;
    height: 48px;
    padding: 0 10px;
    border: 1px solid var(--grey-grey-100, #DBDEE2);
    background: var(--wh, #FFF);
    color: var(--bk, #000);
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.7px;
}
.filebox .upload-name:focus{
    outline: none;
}
.filebox label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 34px;
    border: 1px solid #E2E8F0;
    color: var(--grey-600);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}


.confirmWrapper{
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
}
.confirmContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    overflow-y: auto;
    border-radius: 0 0 20px 20px;
    padding: 16px 40px;
}
.confirmTitle{
    width: 100%;
    text-align: center;
    color: var(--bk, #000);
    font-family: var(--fn-suit);
    font-size: 20px;
    font-weight: 700;
    line-height: 100%; /* 18px */
    letter-spacing: -1px;
}

.tabNav.app{
    padding: 12px 0;
}
.tabNav.app li a{
    padding: 20px 24px;
    font-size: 20px;
    letter-spacing: -1px;
}
.tabInner{
	display: none;
    width: 100%;
}
.tabInner.active {
	display: block;
}

.teamInfo{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
    margin-top: 12px;
    padding: 20px 0;
    border-top: 1px solid var(--grey-100);
    border-bottom: 1px solid var(--grey-100);
}
.teamInfo li{
    display: flex;
    column-gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.8px;
}
.teamInfo li p:first-of-type{
    width: 100px;
    color: var(--grey-500);
}
.checkInput{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding: 32px 0 24px;
}
.checkInput input[type="checkbox"]{
    width: 12px;
    height: 12px;
    border-radius: 0;
    border: 1px solid #583D94;
}
.checkInput input[type="checkbox"]:checked::after {
    width: 6px;
    height: 6px;
    border-radius: 0;
}
.checkInput label{
    color: #000;
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
    cursor: pointer;
}

@media all and (max-width : 768px){
    .tabNav.app li a{
        padding: 8px 12px;
        font-size: 16px;
    }
    .teamInfo li{
        column-gap: 4px;
        font-size: 16px;
    }
    .teamInfo li p:first-of-type{
        width: 90px;
    }
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
	position: unset;
}
.swiper-pagination-bullet{
	width: 5px;
	height: 5px;
	margin: 0 10px !important;
	border-radius: 10px;
	background-color: var(--grey-300);
	opacity: 1;
	transition: all .3s;
}
.swiper-pagination-bullet-active{
	background-color: #171C61;
}