:root {
  --fsb-border: 1px solid var(--grey-grey-100, #DBDEE2);
  --fsb-radius: 999px;
  --fsb-color: #000;
  --fsb-background: #fff;
  --fsb-font-size: 20px;
  --fsb-shadow: none;
  --fsb-padding: 12px 22px;
  --fsb-padding-right: var(--fsb-padding);
  --fsb-arrow-size: 6px;
  --fsb-arrow-padding: var(--fsb-padding);
  --fsb-arrow-color: #000;
  --fsb-icon-color: currentColor;
  --fsb-list-height: 300px;
  --fsb-list-border: var(--fsb-border);
  --fsb-list-radius: 3px;
  --fsb-list-color: var(--fsb-color);
  --fsb-list-background: var(--fsb-background);
  --fsb-hover-color: var(--fsb-color);
  --fsb-hover-background: rgba(23, 84, 213, 0.10);
}

.fsb-original-select {
  display: inline-block;
  margin: 0;
  padding: 8px 22px 8px 8px;
  padding: var(--fsb-padding);
  padding-right: calc(var(--fsb-arrow-padding) * 2 + var(--fsb-arrow-size));
  font-family: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.fsb-original-select[disabled] {
  color: rgba(0, 0, 0, .3);
  cursor: not-allowed;
}

.fsb-select {
  display: inline-block;
  position: relative;
}

select[disabled] + .fsb-select {
  cursor: not-allowed;
}

.fsb-select,
.fsb-original-select {
  width: 158px;
  border: 1px solid #ccc;
  border: var(--fsb-border);
  border-radius: 5px;
  border-radius: var(--fsb-radius);
  box-sizing: border-box;
  color: inherit;
  color: var(--fsb-color);
  background-color: #fff;
  background-color: var(--fsb-background);
  font-size: 1em;
  font-size: 20px;
  box-shadow: none;
  box-shadow: var(--fsb-shadow);
}

.fsb-select svg {
  width: 1em;
  height: 1em;
  margin-right: 8px;
  margin-right: var(--fsb-padding-right);
  fill: currentColor;
  fill: var(--fsb-icon-color);
  pointer-events: none;
}

.fsb-label {
  display: none;
}

/* While it's common sense to avoid using !important as much as possible, it is used
 * here to prevent inheriting style from other rules that may target buttons. */
.fsb-button {
  display: flex !important;
  align-items: center;
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  padding: 8px 22px 8px 8px !important;
  padding: var(--fsb-padding) !important;
  padding-right: calc(var(--fsb-arrow-size) + var(--fsb-arrow-padding) + var(--fsb-padding-right)) !important;
  border: 0 !important;
  border-radius: inherit !important;
  color: inherit !important;
  background-color: inherit !important;
  font-size: 1em !important;
  font-family: inherit !important;
  text-align: inherit !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
}

.fsb-button > span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fsb-button > span,
.fsb-option > span {
  pointer-events: none;
}

select[disabled] + .fsb-select .fsb-button {
  opacity: .4;
  pointer-events: none;
}

.fsb-button:after,
select[disabled] + .fsb-select .fsb-button[aria-expanded="true"]:after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  right: 22px;
  top: 50%;
  transform: translateY(-65%) rotateZ(45deg);
  border: solid currentColor;
  border: solid var(--fsb-arrow-color);
  border-width: 0 2px 2px 0;
  box-sizing: border-box;
  transition: transform .3s ease-in-out;
  pointer-events: none;
}

.fsb-select .fsb-button[aria-expanded="true"]{

  background-color: var(--grey-50) !important;
}
.fsb-button[aria-expanded="true"]:after {
  transform: translateY(-35%) rotateZ(225deg);
}

.fsb-list,
select[disabled] + .fsb-select .fsb-list {
  display: block;
  visibility: hidden;
  position: absolute;
  min-width: 100%;
  height: 0;
  margin: 0;
  left: 0;
  top: calc(100% + 9px);
  z-index: 1;
  padding: 0;
  border: inherit;
  border: var(--fsb-list-border);
  border-radius: inherit;
  border-radius: 20px;
  border-radius: 20px;
  border: 1px solid var(--grey-blue-100, #DBDEE2);
  background: #FFF;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  color: inherit;
  color: var(--fsb-list-color);
  background-color: inherit;
  background-color: var(--fsb-list-background);
  opacity: 0;
  transition: opacity .2s ease-in-out;
  overflow: auto;
}

.fsb-list::-webkit-scrollbar {
    display: none;
}
.fsb-top .fsb-list {
  top: auto;
  bottom: 100%;
}

.fsb-button[aria-expanded="true"] + .fsb-list {
  height: auto;
  max-height: var(--fsb-list-height);
  visibility: visible;
  opacity: 1;
}

.fsb-option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
}

.fsb-option[aria-selected="true"] {
  background-color: var(--fsb-hover-background);
}

.fsb-option:focus {
  outline: none;
  color: var(--fsb-hover-color);
  background-color: var(--fsb-hover-background);
}

.fsb-resize {
  display: block;
  height: 0;
  padding-right: 14px;
  padding-right: calc(var(--fsb-arrow-padding) * 2 + var(--fsb-arrow-size) - var(--fsb-padding-right));
  box-sizing: border-box;
}

.fsb-resize > * {
  display: block;
}


@media all and (max-width : 768px){
  .fsb-select,
  .fsb-original-select {
    width: 158px;
    border: 1px solid #ccc;
    border: var(--fsb-border);
    border-radius: 5px;
    border-radius: var(--fsb-radius);
    box-sizing: border-box;
    color: inherit;
    color: var(--fsb-color);
    background-color: #fff;
    background-color: var(--fsb-background);
    font-size: 1em;
    font-size: 16px;
    box-shadow: none;
    box-shadow: var(--fsb-shadow);
  }

  .fsb-option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}