/* parallax__cont */
#parallaxCont {
    overflow: hidden;
}
.parallaxItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#section1{
    height: 100vh;
}
.videoWrap{
    width: 100%;
    height: 100%;
}
.videoWrap video{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-fit: fill;
    border: none;
    min-width: 1920px;
}
.videoWrap video.mbVideo{
    display: none;
}

@media all and (max-width : 1024px){
    .videoWrap video{
        object-fit: fill;
        min-width: 1024px;
    }
    .videoWrap video.pcVideo{
        display: none;
    }
    .videoWrap video.mbVideo{
        display: block;
    }
}
@media all and (max-width : 768px){
    .videoWrap video{
        object-fit: fill;
        min-width: 768px;
    }
}
@media all and (max-width : 450px){
    .videoWrap video{
        object-fit: fill;
        min-width: unset;
    }
}

#section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fn-wanted);
    background-color: var(--grey-50);
}
#section2 .text-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dateTexts{
    position: absolute;
    left: 0;
    top: 0;
    /* transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#section2 .parallaxItemText {
    display: flex;
    align-items: center;
    justify-content: center;
}
#section2 .t1, #section2 .t2, #section2 .t5, #section2 .t6 {
    color: var(--yellow, #F5E344);
    font-size: 200px;
    font-weight: 700;
    line-height: 140%; /* 280px */
}
#section2 .t3, #section2 .t4 {
    color: var(--bk, #000);
    font-size: 200px;
    font-weight: 700;
    line-height: 140%; /* 280px */
}
#section2 .t3{
    margin-left: 15px;
}
#section2 .t4{
    margin-right: 45px;
}
#section2 .t5 span, #section2 .t6 span{
    margin-left: 25px;
    color: var(--bk, #000);
    font-size: 200px;
    font-weight: 700;
    line-height: 140%; /* 280px */
}

@media all and (max-width : 1600px){
    #section2 .t1, #section2 .t2, #section2 .t5, #section2 .t6 {
        font-size: 100px;
    }
    #section2 .t3, #section2 .t4 {
        font-size: 100px;
    }
    #section2 .t5 span, #section2 .t6 span{
        font-size: 100px;
    }
}

@media all and (max-width : 1024px){
    /* #section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: var(--fn-wanted);
        background-color: var(--grey-50);
    } */
    #section2 .parallaxItemText {
        flex-direction: column;
    }
    #section2 .t1, #section2 .t2, #section2 .t5, #section2 .t6 {
        font-size: 50px;
    }
    #section2 .t3, #section2 .t4 {
        font-size: 40px;
    }
    #section2 .t3{
        margin-left: 0;
    }
    #section2 .t4{
        margin-right: 0;
    }
    #section2 .parallaxItemText.mb{
        flex-direction: row;
    }
    #section2 .t5 p, #section2 .t6 p{
        margin-left: 10px;
        font-size: 40px;
    }
    #section2 .t5 span, #section2 .t6 span{
        margin-left: 10px;
        font-size: 40px;
    }
}

#section3, #section4{
    background-color: #fff;
}
.secInner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 20px;
}
.secInner h2{
    margin-bottom: 25px;
    color: var(--bk, #000);
    font-family: var(--fn-wanted);
    font-size: 72px;
    font-weight: 700;
    line-height: 140%; /* 100.8px */
    letter-spacing: -3.6px;
}
.secInner > p{
    margin-bottom: 104px;
    color: var(--bk, #000);
    font-family: var(--fn-wanted);
    font-size: 30px;
    font-weight: 500;
    line-height: 140%; /* 42px */
    letter-spacing: -1.5px;
}
.circles{
    display: flex;
    column-gap: 20px;
}
.circles li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 385px;
    height: 385px;
    border-radius: 999px;
    background: var(--yellow, #F5E344);
}
.circles li span{
    color: var(--bk, #000);
    font-family: var(--fn-wanted);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%; /* 28px */
    letter-spacing: -1px;
}
.circles li .bigTitle{
    margin: 20px 0 12px 0;
    color: var(--bk, #000);
    font-family: var(--fn-wanted);
    font-size: 40px;
    font-weight: 700;
    line-height: 140%; /* 56px */
    letter-spacing: -2px;
}
.circles li .smallTitle{
    color: var(--bk, #000);
    font-family: var(--fn-wanted);
    font-size: 28px;
    font-weight: 500;
    line-height: 140%; /* 39.2px */
    letter-spacing: -1.4px;
}
@media all and (max-width : 1920px){
    .secInner h2{
        font-size: 50px;
    }
    .secInner > p{
        margin-bottom: 40px;
        font-size: 25px;
    }
}
@media all and (max-width : 1600px){
    .circles{
        row-gap: 20px;
    }
    .circles li{
        width: 250px;
        height: 250px;
    }
    .circles li span{
        font-size: 18px;
    }
    .circles li .bigTitle{
        font-size: 24px;
    }
    .circles li .smallTitle{
        font-size: 16px;
    }
}
@media all and (max-width : 1024px){
    .secInner{
        padding: 0 30px;
    }
    .secInner h2{
        margin-bottom: 12px;
        font-size: 40px;
        letter-spacing: -2px;
    }
    .secInner > p{
        margin-bottom: 32px;
        font-size: 20px;
        letter-spacing: -1px;
    }
    .circles{
        display: grid;
        grid-template-columns: repeat(2, 162px);
        column-gap: 8px;
        /* justify-content: center; */
    }
    .circles li{
        width: 162px;
        height: 162px;
    }
    .circles li span{
        display: none;
    }
    .circles li .bigTitle{
        /* width: 140px; */
        margin: 0;
        font-size: 24px;
        letter-spacing: -1.2px;
        text-align: center;
    }
    .circles li .bigTitle.mbWidth{
        width: 130px;
        word-break: keep-all;
    }
    .circles li .smallTitle{
        display: none;
    }
}

#section4 .secInner h2{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#section4 .secInner h2 span{
    color: var(--yellow, #F5E344);
}
.boxes{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 104px;
}
.boxes li{
    display: flex;
    align-items: center;
    column-gap: 40px;
    width: 100%;
    height: 96px;
    padding: 0 60px;
    border: 1px solid var(--grey-100);
    font-family: var(--fn-wanted);
}
.boxes li span{
    width: 115px;
    color: var(--bk, #000);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%; /* 28px */
    letter-spacing: -1px;
}
.boxes li p{
    color: var(--bk, #000);
    font-size: 30px;
    font-weight: 700;
    line-height: 140%; /* 42px */
    letter-spacing: -1.5px;
}

@media all and (max-width : 1920px){
    .boxes{
        margin-top: 50px;
    }
}
@media all and (max-width : 1024px){
    #section4 .secInner h2{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    #section4 .secInner h2 span{
        color: var(--yellow, #F5E344);
    }
    .boxes{
        row-gap: 10px;
        margin-top: 10px;
    }
    .boxes li{
        align-items: flex-start;
        flex-direction: column;
        row-gap: 10px;
        height: fit-content;
        padding: 16px;
    }
    .boxes li span{
        font-size: 16px;
        letter-spacing: -0.8px;
    }
    .boxes li p{
        font-size: 20px;
        letter-spacing: -1px;
    }
}

.bottomSection{
    width: 100%;
    padding: 120px 0 150px 0;
    background-color: #000;
}
.bottomSecInner{
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 20px;
}
.bottomSecInner > h2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    color: var(--wh, #FFF);
    font-family: var(--fn-wanted);
    font-size: 50px;
    font-weight: 700;
    line-height: 140%; /* 70px */
}
.families{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}
.families li{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.families li p{
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    line-height: 140%; /* 39.2px */
    font-family: var(--fn-wanted);
}
.logosContianer{
    display: flex;
    flex-wrap: wrap;
    column-gap: 14px;
    row-gap: 18px;
}
.logosContianer img{
    width: 253px;
    max-width: 253px;
}

@media all and (max-width : 1024px){
    .bottomSection{
        padding: 44px 0 150px 0;
    }
    .bottomSecInner{
        padding: 0 30px;
    }
    .families li p{
        font-size: 28px;
        text-align: center;
    }
    .logosContianer{
        justify-content: center;
    }
}

.bottomSecInner > h2.center{
    justify-content: center;
}
.bottomSecInner > h2 a{
    display: block;
    width: 40px;
    height: 40px;
}
.bottomSecInner > h2 a img{
    width: 100%;
}
.noticeWrap{
    width: 100%;
}
.noticeList{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    padding-top: 20px;
}
.noticeList.main{
    padding-bottom: 30px;
    border-top: 2px solid #FFF;
}
.noticeList li{
    width: 100%;
}
.noticeList.main li{
    border-bottom: 1px solid #fff;
}
.noticeList li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 40px;
}
.noticeList li a p{
    font-family: var(--fn-suit);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 26px */
    letter-spacing: -1px;
}
.noticeList.main li a p{
    color: var(--wh, #FFF);
}
.noticeList li a span{
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.8px;
    color: var(--grey-500);
    font-family: var(--fn-suit);
}
.noticeList li a span img{
    padding-bottom: 3px;
}
.noticeList.main li:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition: all .2s;
}

@media all and (max-width : 1024px){
    .noticeList.main{
        padding-bottom: 150px;
    }
    .noticeList li a{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 20px;
        padding: 16px 0;
    }
    .noticeList li a p{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .noticeList.main li a p{
        color: var(--wh, #FFF);
    }
    .noticeList li a span{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .noticeList li a span img{
        padding-bottom: 3px;
    }
    .noticeList.main li:hover{
        background-color: rgba(255, 255, 255, 0.3);
        transition: all .2s;
    }
}

.top{
    opacity: 0;
    position: fixed;
    right: 94px;
    bottom: 34px;
    width: 66px;
    height: 66px;
    padding: 0;
    cursor: pointer;
}
.top img{
    width: 100%;
}
.top.active{
    opacity: 1;
    transition: all .2s;
}

@media all and (max-width : 1024px){
    .t2 span{
        display: none;
    }
    .t1 span{
        display: none;
    }
    .top{
        position: fixed;
        right: 34px;
        bottom: 34px;
        width: 46px;
        height: 46px;
        padding: 0;
        cursor: pointer;
    }
    .top img{
        width: 100%;
    }
    .top.active{
        opacity: 1;
        transition: all .2s;
    }
}