.subContainer{
    width: 100%;
    margin-top: 94px;
}
.subTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    padding-top: 106px;
    text-align: center;
    background-color: var(--grey-50);
}
.subTop h2{
    margin-bottom: 24px;
    color: #000;
    font-family: var(--fn-wanted);
    font-size: 24px;
    font-weight: 700;
    line-height: 100%; /* 24px */
    letter-spacing: -1.2px;
}
.subTop p{
    color: var(--bk, #000);
    font-family: var(--fn-wanted);
    font-size: 72px;
    font-weight: 700;
    line-height: 140%; /* 100.8px */
    letter-spacing: -3.6px;
}
.subTop span{
    display: block;
    width: 219px;
    margin-top: 64px;
}
.subTop span img{
    width: 100%;
}

@media all and (max-width : 1024px){
    .subContainer{
        margin-top: 54px;
    }
    .subTop{
        height: 480px;
        padding-top: 72px;
    }
    .subTop h2{
        margin-bottom: 21px;
    }
    .subTop p{
        font-size: 36px;
        letter-spacing: -1.8px;
    }
    .subTop span{
        margin-top: 52px;
    }
}

.subBottom{
    width: 100%;
    padding-bottom: 150px;
}
.subBottomInner{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

@media all and (max-width : 1024px){
    .subBottomInner{
        padding: 0 0;
    }
}

/* intro */
.introContainer{
    position: relative;
    width: 100%;
    height: fit-content;
}
.introContainer::before{
    position: absolute;
    top: 140px;
    left: 0;
    z-index: -1;
    content: "";
    display: inline-block;
    width: 145px;
    height: 485px;
    background-image: url(/front_img/intro-left.png);
    background-size: 145px;
    background-repeat: no-repeat;
    background-position: center center;
}
.introContainer::after{
    position: absolute;
    top: 140px;
    right: 0;
    z-index: -1;
    content: "";
    display: inline-block;
    width: 145px;
    height: 485px;
    background-image: url(/front_img/intro-right.png);
    background-size: 145px;
    background-repeat: no-repeat;
    background-position: center center;
}
.posters{
    position: absolute;
    top: -163px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    column-gap: 20px;
    max-width: 1195px;
    width: 100%;
}
.posters li{
    
}
.posters li img{
    width: 100%;
}
.introTexts{
    max-width: 1195px;
    width: 100%;
    margin: 0 auto;
    padding-top: 492px;
}
.introTexts li{
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid var(--bk, #000);
}
.introTexts li .textTop{
    display: flex;
    align-items: center;
    column-gap: 9px;
}
.introTexts li .textTop p{
    width: 116px;
    padding: 8px;
}
.introTexts li .textTop p{
    width: 116px;
    padding: 8px;
    color: var(--grey-500);
    font-family: var(--fn-wanted);
    font-size: 20px;
    font-weight: 500;
    line-height: 140%; /* 28px */
    letter-spacing: -1px;
}
.introTexts li .textTop span{
    display: block;
    padding: 8px;
    color: var(--bk, #000);
    font-family: var(--fn-wanted);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
}
.introTexts li .textBottom{
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    margin-left: 133px;
    padding-top: 12px;
}
.introTexts li .textBottom p{
    display: flex;
    column-gap: 9px;
    color: var(--grey-500);
    font-family: var(--fn-wanted);
    font-size: 18px;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.9px;
}
.introTexts li .textBottom span{
    width: 88px;
    font-weight: 700;
}
.location{
    width: 100%;
    padding-top: 118px;
}
.subTitleContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 20px;
}
.subTitleContainer h3{
    color: #000;
    font-family: var(--fn-wanted);
    font-size: 40px;
    font-weight: 700;
    line-height: 140%; /* 56px */
    letter-spacing: -2px;
}
.subTitleContainer p{
    display: flex;
    align-items: center;
}
.subTitleContainer img{
    margin-right: 13px;
}
.subTitleContainer p > span{
    color: var(--bk, #000);
    font-weight: 700;
    font-size: 24px;
}
.subTitleContainer p > span span{
    margin-left: 4px;
    color: var(--grey-500);
    font-family: var(--fn-wanted);
    font-size: 24px;
    font-weight: 500;
    line-height: 140%; /* 33.6px */
    letter-spacing: -1.2px;
}
.kakaoMap{
    width: 100%;
    height: 458px;
    background-color: var(--grey-500);
    overflow: hidden;
}
.mbText{
    display: none;
}

@media all and (max-width : 1024px){
    .pcText{
        display: none;
    }
    .mbText{
        display: block;
        padding: 0 30px;
    }
    .introContainer{
        position: relative;
        width: 100%;
        height: fit-content;
    }
    .introContainer::before{
        display: none;
    }
    .introContainer::after{
        display: none;
    }
    .posters{
        top: -110px;
        overflow-x: scroll;
        padding: 0 30px;
    }
    .posters li{
        width: 270px;
    }
    .posters li img{
        width: 270px;
    }
    .introTexts{
        padding: 311px 30px 0 30px;
    }
    .introTexts li .textTop{
        align-items: flex-start;
        flex-direction: column;
        row-gap: 9px;
    }
    .introTexts li .textTop p{
        width: 116px;
        padding: 8px;
    }
    .introTexts li .textTop span{
        letter-spacing: -1.2px;

    }
    .introTexts li .textBottom{
        margin-left: 8px;
        padding-top: 8px;
    }
    .introTexts li .textBottom span{
        min-width: 88px;
    }
    .location{
        padding: 60px 20px 0 20px;
    }
    .subTitleContainer{
        align-items: flex-start;
        flex-direction: column;
        row-gap: 12px;
    }
    .subTitleContainer p{
        align-items: flex-start;
    }
    .subTitleContainer p > span span{
        display: block;
        margin-left: 0;
    }
}

/* notice */
.tabNav{
    display: flex;
    justify-content: center;
    column-gap: 8px;
    padding: 48px 0 40px 0;
}
.tabNav li a{
    display: block;
    padding: 20px 24px;
    color: var(--grey-500);
    font-family: var(--fn-suit);
    font-size: 28px;
    font-weight: 500;
    line-height: 140%; /* 39.2px */
    letter-spacing: -1.4px;
}
.tabNav li:hover a{
    font-weight: 700;
    color: #000;
    transition: all .2s;
}
.tabNav li.active a{
    font-weight: 700;
    color: #000;
    border-bottom: 1px solid #000;
}
.noticeWrap{
    width: 100%;
}
.noticeList.sub{
    padding-bottom: 30px;
    border-top: none;
}
.noticeList.sub li{
    border-bottom: 1px solid #000;
}
.noticeList.sub li a span img{
    padding-bottom: 0;
}
.noticeList.sub li:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition: all .2s;
}

@media all and (max-width : 1024px){
    .tabNav{
        column-gap: 8px;
        padding: 40px 0 12px 0;
    }
    .tabNav li a{
        font-size: 20px;
        letter-spacing: -1px;
    }
    .tabNav li:hover a{
        font-weight: 700;
        color: #000;
        transition: all .2s;
    }
    .tabNav li.active a{
        font-weight: 700;
        color: #000;
        border-bottom: 1px solid #000;
    }
    .noticeList.sub{
        padding: 0 30px 30px 30px;
    }
}

/* view */
.viewContainer{
    width: 100%;
    padding-top: 64px;
}
.viewTop{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 16px 0;
    border-bottom: 1px solid var(--bk, #000);
}
.viewTitles{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.viewTitles a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.viewTitles p{
    color: var(--bk, #000);
    font-family: var(--fn-suit);
    font-size: 40px;
    font-weight: 700;
    line-height: 130%; /* 52px */
    letter-spacing: -2px;
}
.date{
    align-self: flex-end;
    color: var(--bk, #000);
    font-family: var(--fn-suit);
    font-size: 24px;
    font-weight: 500;
    line-height: 130%; /* 31.2px */
    letter-spacing: -1.2px;
}
.viewBottom{
    width: 100%;
    margin: 40px 0 0 0;
    padding: 40px 0;
    border-bottom: 1px solid var(--bk, #000);
}
.viewBottom p{
    color: #000;
    font-family: var(--fn-suit);
    font-size: 18px;
    font-weight: 500;
    line-height: 130%; /* 23.4px */
    letter-spacing: -0.9px;
}
.viewBottom img{
    display: block;
    max-width: 800px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}
.buttonContainer a{
    display: flex;
    width: 363px;
    height: 56px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--grey-100);
    background: var(--wh, #FFF);
    color: var(--bk, #000);
    font-family: var(--fn-suit);
    font-size: 14px;
    font-weight: 500;
    line-height: 170%; /* 23.8px */
    letter-spacing: -0.7px;
}
.buttonContainer a:hover{
    background-color: var(--grey-50);
    transition: all .2s;
}

.addFile{
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	width: 100%;
	padding: 16px 20px;
    margin-bottom: 40px;
	border-bottom: 1px solid #000;
}
.addFile a{
	display: flex;
	align-items: center;
	column-gap: 8px;
	color: #000;
}

@media all and (max-width : 1024px){
    .viewContainer{
        padding: 41px 30px 0 30px;
    }
    .viewTop{
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        padding: 16px 0;
        border-bottom: 1px solid var(--bk, #000);
    }
    .viewTitles{
        display: flex;
        align-items: center;
        column-gap: 12px;
    }
    .viewTitles p{
        font-size: 28px;
        letter-spacing: -1.4px;
    }
    .buttonContainer{
        padding: 0 16px;
    }
    .buttonContainer a{
        width: 100%;
    }
}


/* drive */
.driveContainer{
    width: 100%;
    margin-top: 40px;
}
.fileLists{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 20px;
}
.fileLists li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    border-bottom: 1px solid #000;
    transition: all .2s;
}
.indexTitle{
    display: flex;
    align-items: center;
    column-gap: 15px;
    width: calc(100% - 555px);
}
.indexTitle p{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%; /* 26px */
    letter-spacing: -1px;
}
.indexTitle p:last-of-type{
    display: block;
    align-items: center;
    width: calc(100% - 40px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.indexTitle p:last-of-type span{
    display: inline-block;
    margin: 0 12px 0 0;
    padding: 8px;
    border-radius: 4px;
    background: #1754D5;
    color: var(--wh, #FFF);
    font-size: 14px;
    font-weight: 500;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.7px;
}
.fileInfo{
    display: flex;
    align-items: center;
    column-gap: 43px;
    width: fit-content;
}
.fileInfo > a{
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 10px 20px;
    border-radius: 4px;
    /* white-space: nowrap; */
    background: var(--grey-50);
    color: var(--grey-500);
    font-size: 20px;
    font-weight: 500;
    line-height: 130%; /* 26px */
    letter-spacing: -1px;
    transition: all .2s;
}
.fileInfo > a::after{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(/front_img/file.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
.fileInfo span{
    display: flex;
    column-gap: 20px;
    color: var(--grey-500);
    font-size: 16px;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: -0.8px;
    /* white-space: nowrap; */
}
.fileLists li:hover{
    background-color: var(--grey-50);
}
.fileLists li:hover .fileInfo > a{
    color: #FF4800;
    background-color: #fff;
}
.fileLists li:hover .fileInfo > a::after{
    background-image: url(/front_img/file2.png);
}
.fileModify{
    display: flex;
    column-gap: 20px;
    padding-right: 20px;
}
.buttonContainer.files{
    justify-content: flex-end;
    margin-top: 60px;
}
.buttonContainer.files a{
    position: relative;
    width: 250px;
    height: 56px;
}
.buttonContainer.files a img{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}
@media all and (max-width : 610px){
    .fileLists li{
        justify-content: unset;
        align-items: flex-end;
        flex-direction: column;
        row-gap: 12px;
        padding: 16px 12px;
    }
    .fileInfo{
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 20px;
    }
    .fileLists{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-top: 20px;
        padding: 0 30px;
    }
    .indexTitle{
        column-gap: 12px;
        width: 100%;
    }
    .indexTitle p:last-of-type{
        width: calc(100% - 30px);
    }
    .fileInfo{
        align-items: flex-end;
        column-gap: 20px;
        width: 100%;
    }
    .fileInfo > a{
        justify-content: space-between;
        width: 100%;
    }
    .buttonContainer.files{
        padding: 0 30px;
    }
}

/* drive form */
.viewTop.drive{
    padding: 0;
    border-bottom: 0;
}
.driveForm{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    max-width: 1330px;
    width: 100%;
    margin: 74px auto 0;
    padding: 20px;
}
.tooltipBox{
    position: relative;
}
.titleTooltip{
    display: flex;
    align-items: center;
    column-gap: 4px;
    margin-bottom: 20px;
}
.titleTooltip .inputCaption{
    margin-bottom: 0;
}
.titleTooltip button{
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
}
.titleTooltip button img{
    width: 100%;
    height: 100%;
}
.tooltipDesc{
    display: none;
    position: absolute;
    left: 20px;
    top: 0;
    width: 260px;
    padding: 12px 10px;
    border: 1px solid var(--grey-100);
    box-shadow: 0px 4px 16.6px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
}
.tooltipDesc p{
    display: flex;
    column-gap: 5px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 18px */
    letter-spacing: -0.9px;
}

.fileContainer{
    display: flex;
    flex-direction: column;
}
#dropArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 374px;
    margin-bottom: 20px;
    border: 1px solid var(--grey-100);
    background-color: var(--grey-50);
}
.dropText{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    width: 100%;
    /* height: 100%; */
}
.dropText p{
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.8px;
}
.dropText p:first-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 162px;
    height: 44px;
    border: 1px solid var(--grey-200);
    cursor: pointer;
}
#fileNameContainer{
    display: none;
    align-items: center;
    column-gap: 20px;
    width: fit-content;
    margin-bottom: 12px;
    padding: 12px 20px;
    border-radius: 999px;
    border: 1px solid var(--grey-500);
    color: #475569;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%; /* 14px */
}
#removeFile{
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
}
#removeFile img{
    width: 100%;
    height: 100%;
}

.fileDesc li{
    display: flex;
    column-gap: 6px;
    color: var(--grey-500);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.7px;
}


.applyButton{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    width: 100%;
    padding: 12px 0 20px 0;
}
.applyButton a{
    display: flex;
    width: 206px;
    height: 56px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--grey-grey-100, #DBDEE2);
    background: var(--wh, #FFF);
    font-family: var(--fn-suit);
    font-size: 14px;
    font-weight: 500;
    line-height: 170%; /* 23.8px */
    letter-spacing: -0.7px;
}
.applyButton a.nextButton{
    color: #fff;
    background-color: #1754D5;
}

@media all and (max-width: 1024px){
    .driveForm{
        margin: 58px auto 0;
        padding: 0;
    }
    
    .dropText p:last-of-type{
        display: none;
    }
    #fileNameContainer{
        display: none;
        align-items: center;
        column-gap: 20px;
        width: fit-content;
        margin-bottom: 12px;
        padding: 12px 20px;
        border-radius: 999px;
        border: 1px solid var(--grey-500);
        color: #475569;
        font-size: 14px;
        font-weight: 500;
        line-height: 100%; /* 14px */
    }
    #dropArea{
        margin-bottom: 12px;
    }
    #removeFile{
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    #removeFile img{
        width: 100%;
        height: 100%;
    }
    
    .fileDesc li{
        color: var(--grey-500);
        font-size: 14px;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
        letter-spacing: -0.7px;
    }
    
    
    .applyButton{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width: 100%;
        padding: 46px 0 0 0;
    }
    .applyButton a{
        display: flex;
        width: 157px;
        height: 56px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border: 1px solid var(--grey-grey-100, #DBDEE2);
        background: var(--wh, #FFF);
        font-family: var(--fn-suit);
        font-size: 14px;
        font-weight: 500;
        line-height: 170%; /* 23.8px */
        letter-spacing: -0.7px;
    }
    .applyButton a.nextButton{
        color: #fff;
        background-color: #1754D5;
    }
}